#back {
	background-color: #FF0000;
}
#back h1 {
	color: #FAFAFA;
	
}
#back a {
	color: #FAFAFA;
}
.puzi{
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}
.tan{
	margin-top: 5px;
	width: 100%;
	height: 400px;
	background-image: url(../img/bg.jpg);
}
.tan button{
	border: 2px solid;
	background-color: transparent;
	outline: none;
	color: white;
	height: 245px;
}
.play_b{
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	
}
.y1 {
	display: inline-block;
	width: 12%;
}
.y2 {
	display:inline-block;
	width: 12%;
}
.y3 {
	display:inline-block;
	width: 12%;
}
.y4 {
	display:inline-block;
	width: 12%;
}
.y5 {
	display:inline-block;
	width: 12%;
}
.y6 {
	display:inline-block;
	width: 12%;
}
.y7 {
	display:inline-block;
	width: 12%;
}